article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
}
.container label {
  margin-bottom: 10px;
  color: var(--gray-dark);
}

input {
  padding: 10px;
}
#title {
  width: 100%;
}

<<<<<<< HEAD
.container #text-editor {
  width: 400px;
  height: 400px;
  padding: 10px;
  background-color: white;
  margin-top: 10px;
  border: none;
}

/* .text-editor{
  width: 100%;
} */

.container button#send {
=======
.container .textarea {
  width: 100%;
  height: 600px;
  padding: 10px;
  background-color: white;
  border: none;
}

.container button#send-btn {
>>>>>>> 8d87039d160802682288c52b2c527608ec03607d
  width: 400px;
  padding: 10px;
  background-color: var(--gray-midel);
  font-weight: 600;
  color: var(--main-color);
  transition: 0.5s;
}
<<<<<<< HEAD
.container button#send:hover {
=======
.container button#send-btn:hover {
>>>>>>> 8d87039d160802682288c52b2c527608ec03607d
  background-color: var(--main-color);
  color: white;
}
