.problem .container {
  width: 70%;
  margin: 30px auto;
}

.problem .container table {
  width: 100%;
  text-align: left;
  color: #121221;
}

.problem .container table tr:nth-child(odd) {
  background-color: var(--gray-light);
}

.problem .container table tr:nth-child(even) {
  background-color: var(--gray-midel);
}

.problem .container table tr th {
  padding: 10px;
}

.problem .container table tr th.JS {
  color: #ebc804;
}
.problem .container table tr th.php {
  color: #3c17c0;
}

.problem .container table tr th:hover {
  cursor: pointer;
}

/* challenge work */

.work .container .challenge-title {
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 10px;
  line-height: 1.7em;
  margin-bottom: 30px;
}

.work .container .challenge-body {
  width: 60%;
  margin: auto;
}

.work .container .challenge-body .text {
  width: 100%;
  line-height: 1.7em;
  padding: 10px;
  background-color: white;
}

.work .container .challenge-body > .img-box {
  height: 300px;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 10px;
}

.work .container .challenge-body > .img-box img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.editor-box {
  margin-top: 30px;
  width: 90%;
  height: 100vh;
}

.editor-box .editor {
  width: 100%;
  min-height: 200px;
  /* height: fit-content; */
}

.editor-box .editor .editor-body {
  min-height: 200px;
}

.editor-body {
  height: 100%;
  width: 100%;
}

.editor-header {
  background-color: var(--gray-midel);
}

.editor-box .output-code {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  background-color: #212121;
  color: white;
  transition: all 1s;
}

.editor-box .output-code p {
  padding: 10px;
  background-color: #212125;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--gray-midel);
  font-weight: 600;
  color: var(--main-color);
  transition: 0.5s;
  margin-top: 10px;
}
button:hover {
  background-color: var(--main-color);
  color: white;
}

.valid {
  color: var(--green-dark);
}
.invalid {
  color: var(--red-dark);
}
